*{
    font-family: arial;
}

form{
    background-color: #333;
    width: 30%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border: 20px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-columns{
    display: flex;
    justify-content: space-between;
}

.fields{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #dedede;
    font-size: 14px;
}
input, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    color: #dedede;
    transition: all 0.03s;
}

input:focus,
textarea:focus{
    outline: none;
}

input:focus{
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    transition: all 0.3s;
}

textarea{
    border: 2px solid rgba(255, 255, 255, 0.5);
    resize: none;
    flex-basis: 100px;
}

textarea:focus{
    border: 2px solid rgba(255, 255, 255, 1);
}

.btn{
    display: flex;
    justify-content: center;
}

button{
    padding: 15px 40px;
    background: #1baea990;
    border: none;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #dedede;
    cursor: pointer;
    transition: all 2s;
}

button:hover{
    padding: 15px 70px;
    background-color: #1baea9;
}