*{
    font-family: arial;
}

/*Menu*/
header {
  background-color: #4bae51;
  text-align: center; /* Centra el H1 y el menú automáticamente */
  border-bottom: 2px solid #000;
  padding: 20px 0px 10px 0px;
  margin-bottom: 0px;
}

h1 {
  display: block; /* Asegura que el título ocupe su propia línea */
  margin-bottom: 10px; /* Da un poco de espacio visual */
  color: #fff;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

li {
  display: inline-block;
  list-style: none;
}

a{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}


/*Cuerpo*/
body {
    display: flex;
    flex-direction: column; /* Alinea Header, Main y Footer en columna */
    min-height: 100vh;      /* 100vh = 100% del alto de la ventana */
    width: 100%;

}

section{
    background-color: #f9f9f9;
    padding: 20px;
    flex: 1;


}

/*Cuerpo*/

/*Footer*/
footer{
    display: flex;
    background-color: #333333;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;
    color: #fff;
    height: 50px;
}
