*{
    font-family: arial;
}

/*Menu*/
header {
  background-color: #4bae51;
  text-align: center; /* Centra el H1 y el menú automáticamente */
  border-bottom: 2px solid #000;
  padding: 20px 0px 10px 0px;
  margin-bottom: 0px;
}

h1 {
  display: block; /* Asegura que el título ocupe su propia línea */
  margin-bottom: 10px; /* Da un poco de espacio visual */
  color: #fff;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

li {
  display: inline-block;
  list-style: none;
}

a{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

/*Cuerpo*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
    width: 100%;
}

main{
    background-color: #f9f9f9;
    padding: 20px;
    flex: 1;
}

h2{
    margin-top: 0px;
}

form{
    background-color: #fff;
    width: 35%;
    height: 520px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fields{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    font-size: 14px;
}
input, textarea{
    background-color: transparent;
    border: 2px solid #e5e5e5;
    padding: 10px;
    color: #000;
    transition: all 0.03s;
}

input:focus,
textarea:focus{
    outline: none;
}

input:focus{
    border-bottom: 2px solid #e7e7e7;
    transition: all 0.3s;
}

textarea{
    border: 2px solid #e7e7e7;
    resize: none;
    flex-basis: 100px;
}

textarea:focus{
    border: 2px solid #e7e7e7;
}

.btn{
    display: flex;
    justify-content: center;
}

button{
    padding: 15px 40px;
    background: #4bae51;
    border: none;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all 2s;
    margin-top: 15px;
    width: 700px;
}

button:hover{
    padding: 15px 70px;
    background-color: #1baea9;
}
/*Footer*/
footer{
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;
    height: 50px;
}
